.card {
    display: flex;
    padding-top: 60px;
}
.card__wrap {
    width: 580px;
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    position: relative;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
}
.card__wrap::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    border-radius: 6px;
}
.cards__list {
    width: 100%;
    height: 200px;
    border: 2px solid rebeccapurple;
    display: flex;
    gap: 10px;
}

/* // TODO: Сделать медиазапрос  на 630рх адаптив*/
