.card {
    display: flex;
    padding-top: 60px;
}
.card__wrap {
    width: calc(100% - 100px);
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: var(--main-shadow);
    position: relative;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    background: rgb(255, 255, 255, 0.2);
}

@media (max-width: 840px) {
    .card {
        padding: 15px;
    }
    .card__wrap {
        width: calc(100% - 50px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}
@media (max-width: 640px) {
    .card__wrap {
        width: calc(100% - 10px);
        grid-template-columns: 1fr;
        padding: 15px;
    }
}
