.header {
    padding: 40px 15px 50px;
    margin: o auto;
    display: flex;
}
.header__title {
    margin-bottom: 20px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}
