.cards__list {
    width: 100%;
    max-height: max-content;
    display: flex;
    gap: 10px;
    position: relative;
    border-radius: 6px;
    background: var(--main-gradient);
    box-shadow: var(--main-shadow);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}
@media (max-width: 840px) {
    .cards__list {
        gap: 8px;
        padding: 15px;
        flex-direction: column;
    }
}
