.cards__list {
    width: 100%;
    max-height: max-content;
    display: flex;
    gap: 20px;
    position: relative;
    border-radius: 6px;
    background: var(--main-gradient);
    box-shadow: var(--main-shadow);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}
@media (max-width: 840px) {
    .cards__list {
        padding: 15px;
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .cards__list {
        grid-column: 1/3;
    }
}
