:root {
    --main-gradient: linear-gradient(92.7deg, #4cb8c4 0%, #3cd3ad 100%), #232323;
    --main-color: white;
    --main-shadow: 10px 6px 20px rgba(27, 108, 114, 0.25);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--main-gradient);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
